/**************START-BLOG*************/

.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.blog__name, .blog__span {
    font: bold 36px Ubuntu;
    color: var(--second-text-color);
    margin: 44px 0 30px;
}

.blog__span {
    color: var(--span-color);
}

.blog__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 1170px;
}

/*****************************/

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
    height: 500px;
    background-color: var(--second-bg-color);
}

.block__img {
    margin: 20px 0 17px;
    height: 330px;
    width: 330px;
}

.block__about {
    display: flex;
    flex-direction: column;
    width: 330px;
    /* height: 108px; */
}

.block__description {
    font: bold 18px Ubuntu;
    color: var(--second-text-color);
}

.block__icons {
    display: flex;
    flex-flow: row;
    font: normal 14px Lato;
    color: var(--third-text-color);
    margin-top: 14px;
}

.block__like {
    margin-right: 18px;
}

.block__icon {
    margin-right: 4px;
}

.block__btn {
    width: 150px;
    height: 40px;
    background-color: var(--main-bg-color);
    font: bold 14px Ubuntu;
    color: var(--first-text-color);
    border: none;
    margin-top: 16px;
    outline: none;
}

.block__btn:hover {
    background-color: var(--hover-active-color);
}

@media (max-width: 1180px) {
    .blog__list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 750px;
    }

    .block {
        margin-bottom: 10px;
    }
}

@media (max-width: 760px) {
    .blog__list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 320px;
    }

    /*****************************/

    .block {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 320px;
        height: 440px;
        background-color: var(--second-bg-color);
    }

    .block__img {
        margin: 10px 0 10px;
        width: 300px;
        height: 300px;
    }

    .block__about {
        display: flex;
        flex-direction: column;
        width: 300px;
    }

    .block__description {
        font: bold 18px Ubuntu;
        color: var(--second-text-color);
    }

    .block__icons {
        display: flex;
        flex-flow: row;
        font: normal 14px Lato;
        color: var(--third-text-color);
        margin-top: 18px;
    }

    .block__like {
        margin-right: 19px;
    }

    .block__icon {
        margin-right: 4px;
    }

    .block__btn {
        width: 150px;
        height: 40px;
        background-color: var(--main-bg-color);
        font: bold 14px Ubuntu;
        color: var(--first-text-color);
        border: none;
        margin-top: 16px;
        outline: none;
    }

}